<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
</head>
<body>
    <div style="width: 700px;margin: 0 auto">
        <h1>资产列表</h1>
{#        <div>#}
{#            <div class="search-list clearfix" style="position: relative">#}
{##}
{#                <div class="search-btn col-md-offset-10 col-md-2" style="position: absolute;bottom: 1px;text-align: right" >#}
{#                    <input id="doSearch" type="button" class="btn btn-primary" value="搜索" />#}
{#                </div>#}
{##}
{#                <div class="search-item col-md-offset-2 col-md-8 clearfix" style="position: relative;height: 35px;">#}
{#                    <div style="position: absolute;left:0;width: 37px;">#}
{#                        <a class="btn btn-default add-search-condition">#}
{#                            <span class="glyphicon glyphicon-plus"></span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="input-group searchArea" style="position: absolute;left: 39px;right: 0;">#}
{#                        <div class="input-group-btn">#}
{#                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="searchDefault">默认值</span> <span class="caret"></span></button>#}
{#                            <ul class="dropdown-menu">#}
{##}
{#                            </ul>#}
{#                        </div>#}
{#                        <!-- /btn-group -->#}
{#                       <input type="text" class="form-control" aria-label="...">#}
{##}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#    </div>#}
{#        <div class="btn-group" role="group" aria-label="...">#}
{#          <button id="checkAll" type="button" class="btn btn-default">全选</button>#}
{#          <button id="checkReverse" type="button" class="btn btn-default">反选</button>#}
{#          <button id="checkCancel" type="button" class="btn btn-default">取消</button>#}
{#          <button id="inOutEditMode" type="button" class="btn btn-default ">进入编辑模式</button>#}
{#          <a class="btn btn-default" href="#">添加</a>#}
{#          <button id="multiDel"  type="button" class="btn btn-default">删除</button>#}
{#          <button id="refresh" type="button" class="btn btn-default">刷新</button>#}
{#          <button  id="save" type="button" class="btn btn-default">保存</button>#}
{#        </div>#}
{#        <table class="table table-bordered table-striped">#}
{#            <thead id="tbHead">#}
{##}
{#            </thead>#}
{#            <tbody id="tbBody">#}
{##}
{#            </tbody>#}
{#        </table>#}
        {% include 'nb-search.html' %}
        {% include 'nb-tpl.html' %}


    </div>

    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/nb-list.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script>
        $.xx('/backend/asset_json.html')

    </script>
</body>

</html>